.row.signup
  .large-4.columns
    %img.logo{:src => "/assets/logo.png"}
  .large-8.columns
    .row
      .large-6.columns
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = devise_error_messages!
          %div
            = f.label :email, :autofocus => true
            = f.email_field :email, :autofocus => true
          %div
            = f.label :password
            = f.password_field :password
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %div
            = f.submit "Sign up", :class => "button"
    .row
      .large-6.columns
        = render "devise/shared/links"
