.splash
  .row
    .large-12.small-10.columns.hero
      %img.logo{:src => "/assets/logo.png"}
  .row
    .large-12.large-centered.columns.tagline
      %h1
        = t(:banner)
      %small
        = t(:tagline)
        -#.hide-for-small.large-2.columns.signup
          %a.button.radius.large.register
            Sign Up
      -#.show-for-small.small-12.columns
        %a.button.radius.large.register-mobile
          Sign Up
    .large-2.columns
-#.row
  .promo

    -#.join
      = form_for(@contact, remote: true) do |f|
        .large-12.columns
          .field
            = f.text_field :name, :placeholder => "Your Name", :required => "required"
        .large-12.columns
          .field
            = f.email_field :email, :placeholder => "Your Email Address", :required => "required"
        .large-6.columns
          = f.submit 'Get in touch', :class => "button radius large"
    -#.large-7.columns
      %img{:src => "/assets/large_hero.png"}

:javascript
  $(function(){
    $("form#new_contact").bind("ajax:success",function(event,data,status,xhr){
      if (status == "success") {
        var contact = $.parseJSON(data);
        $('#signup-message').html("Thank you " + contact.name + " for your interest. We'll let you know when we launch.");
      }
    });
  });