= form_for @campaign, :class => "custom" do |f|
  .row.fields
    .large-3.columns.sidebar
      %h4.subheader
        Campaign details
      %p
        Enter the details of your campaign
    .large-9.columns
      .row
        .large-12.columns
          = f.label :tagline
          = f.text_field :tagline
      .row
        .large-4.columns
          = f.label :start_date
          = f.text_field :start_date, :class => "date"
        .large-4.columns
          = f.label :end_date
          = f.text_field :end_date, :class => "date"
        .large-4.columns
          %label
            Target
            %small
              \# engagementsx
          = f.text_field :target
      .row
        .large-12.columns
          = f.label :description
          -#= f.text_area :description
          = f.textile_editor :description
      .row
        .large-4.columns
          %label
            Discount
            %small
              \% off
          = f.text_field :discount
        .large-4.columns
          = f.label :campaign_type
          = f.select :campaign_type, ["Sale", "Email Campaign"], {}
        .large-4.columns
          = f.label :item_id
          = f.select :item_id, Item.where("user_id = ?", current_user.id).collect { |i| [i.name, i.id] }, {}
      .row
        .large-4.offset-6.columns
          = f.submit "Save", :class => "button small"
= textile_editor_initialize