%p#notice= notice

%p
  %b Start date:
  = @campaign.start_date
%p
  %b End date:
  = @campaign.end_date
%p
  %b Tagline:
  = @campaign.tagline
%p
  %b Description:
  = @campaign.description
%p
  %b Item:
  = @campaign.item
%p
  %b Discount:
  = @campaign.discount
%p
  %b Target:
  = @campaign.target
%p
  %b Campaign type:
  = @campaign.campaign_type

= link_to 'Edit', edit_campaign_path(@campaign)
\|
= link_to 'Back', campaigns_path
