!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : t(:title)
      %meta{:content => content_for?(:description) ? yield(:description) : t(:description), :name => "description"}
      %meta{:content => content_for?(:keywords) ? yield(:keywords) : t(:keywords), :name => "keywords"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
        .row
          .large-12.small-12.large-centered.small-centered.columns
            %img{:src => "/assets/large_hero.png"}
    / ! end of #container
